# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Tabulate Data Science Tools
- Evaluating Arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
mins1 = 200/60
mins = round(mins1)
print(str(mins1) + " hr")
print("Round off:")
print(str(mins) + " hr")

3.3333333333333335 hr
Round off:
3 hr

## Author
Simhadri Sevitha